[2018-04-23 18:53] tjallingt opened #1 "scope hoisting should add babel-preset-env modules:false config"
The module concatenation plugin only works properly when the es6 module syntax is used (so the `import Module from 'module'` syntax): https://webpack.js.org/plugins/module-concatenation-plugin/

However by default the `env` preset will transform module imports to `commonjs` style (so `var Module = require('module')`): https://github.com/babel/babel/tree/master/packages/babel-preset-env#modules

Wi

[2018-04-24 07:33] jakoblind commented on #1
I added this babel config when selecting React. Thanks for the input!

[2018-04-24 07:33] #1 closed

[2018-04-25 14:08] marioterron opened #2 "DefinePlugin is not longer need on Webpack 4"
In theory, Webpack 4 defines the `process.env.NODE_ENV` constant by defaults depending on the mode. You can check it out in this post from Tobias Koppers:

- https://medium.com/webpack/webpack-4-mode-and-optimization-5423a6bc597a

[2018-04-26 05:57] jakoblind commented on #2
I agree, I deleted it!

[2018-04-26 05:57] #2 closed

[2018-04-27 18:46] jantimon opened #3 "Add typescript"
Configuring ts-loader to be fast is quite challenging:

https://github.com/TypeStrong/ts-loader/blob/master/examples/thread-loader/webpack.config.js

Could you please add it? :)

[2018-04-28 09:56] infomaniac50 opened #4 "Add vue-loader"
https://vue-loader.vuejs.org/guide/

[2018-05-01 01:40] spartanatreyu opened #5 "Add a Babel option, seperate Babel from React"
Not every project that uses Babel will use React (eg. Angular, Vue, etc...), so we can start by replicating React's config for Babel:

[code]

then remove the react related node modules from the above command.

[2018-05-07 06:06] jakoblind commented on #5
Good idea! I am not familiar with Vue or Angular. When reading the docs for vue I see there is something called `vue-loader` that is used for the `.vue` files. And `babel-loader` is used for `.js` files. Is it common to mix js-files and vue-files in a vue project?

[2018-05-07 06:11] jakoblind commented on #3
Thank you. This is a highly requested feature. I am not familiar with Typescript, will do some research !

[2018-05-07 06:12] jakoblind commented on #4
I am on it! I have some questions as i mentioned in #5 . Do you think I should add transpliation of js files with babel-loader as default when selecting Vue, or should babel be split out to a separate option :thinking:

[2018-05-08 00:13] spartanatreyu commented on #5
I'm not sure how common it is but it seems reasonable to expect devs will want to mix in js for libraries and other ported code. It wouldn't make sense in every situation to wrap _everything_ inside a vue component.

[2018-05-08 12:22] jakoblind opened #7 "Not all NPM dependencies should be added as dev dependencies"
All NPM dependencies are added as dev-dependencies. Some of them, for example react, should be a dependency - not a dev-dependency.

[2018-05-08 12:26] jakoblind opened #8 "Group the feature buttons"
More and more features are being added. The UI must be improved so that it's easier to find the features you need. Suggested grouping:

- UI Library (select one of): React, Vue, Angular
- Styling: less, sass, stylus
- Image: svg, png
- Utility libraries: lodash, momentjs
- Production mode

Need a design for this :thinking:

[2018-05-08 12:28] jakoblind opened #9 "Download a complete project"
Possibility to download a zip file with a complete project based on your configuration, and/or a link to a more detailed custom instructions on how to set it up.

[2018-05-08 12:29] jakoblind opened #10 "Improve mobile version"
There is side scrolling on mobile because paddings/margins are not perfect. There should be no side scrolling

[2018-05-08 22:27] infomaniac50 commented on #5
When I write code in Vue files it's because I can group everything together. Most new code can be put into Vue files. If you have alot of legacy code it can be difficult to port everything. For example, you can't run Vue files through Twig templates.

https://vue-loader.vuejs.org/guide/pre-processors.html

Vue files group related code all in one place. vue-loader isn't much more than a proxy for o

[2018-05-08 22:29] infomaniac50 commented on #4
When I write code in Vue files it's because I can group everything together. Most new code can be put into Vue files. If you have alot of legacy code it can be difficult to port everything. For example, you can't run Vue files through Twig templates.

https://vue-loader.vuejs.org/guide/pre-processors.html

Vue files group related code all in one place. vue-loader isn't much more than a proxy for o

[2018-05-09 05:48] #7 closed

[2018-05-09 08:09] jakoblind commented on #5
Great inpu @infomaniac50 . I learn alot about Vue :)

Based on the discussion, I think it would make sense to add two new checkboxes: "Vue" and "Babel":
![image](https://user-images.githubusercontent.com/399339/39802649-df33e650-536e-11e8-95ab-8dbd7bdef945.png)

When clicking Vue, you would automatically get babel config js files. I am working on this now

[2018-05-09 08:12] #8 closed

[2018-05-09 09:04] infomaniac50 commented on #5
I created a project to see what vue-cli generates from the webpack-simple template.

This gist outlines the choices I made and the contents of webpack.config.js https://gist.github.com/infomaniac50/34255dfbfdf46476de7d0e2248b400af

https://github.com/vuejs-templates/webpack-simple
https://github.com/vuejs/vue-cli

[2018-05-09 09:10] infomaniac50 commented on #5
Also be aware that Vue Loader v15 now requires an accompanying webpack plugin to function properly.

It looks like Vue Loader v15 was released 15 days ago. New webpack configs should probably use the plugin. However the webpack-simple template does seem to be updated yet. It does use an old version though so it shouldn't be broken. "vue-loader": "^13.0.5"

[code]
https://vue-loader.vuejs.org/migra

[2018-05-09 09:11] infomaniac50 commented on #4
I created a project to see what vue-cli generates from the webpack-simple template.

This gist outlines the choices I made and the contents of webpack.config.js https://gist.github.com/infomaniac50/34255dfbfdf46476de7d0e2248b400af

https://github.com/vuejs-templates/webpack-simple
https://github.com/vuejs/vue-cli

[2018-05-09 09:12] infomaniac50 commented on #4
Also be aware that Vue Loader v15 now requires an accompanying webpack plugin to function properly.

It looks like Vue Loader v15 was released 15 days ago. New webpack configs should probably use the plugin. However the webpack-simple template is not updated yet. It does use an old version though so it should not be broken. "vue-loader": "^13.0.5"

[code]
https://vue-loader.vuejs.org/migrating.htm

[2018-05-09 09:41] infomaniac50 commented on #4
It should also be noted that vue-loader is only for Single File Components. You can have perfectly valid Vue code without SFCs. In that case, you have to load Vue from a CDN or the local server.

This is a dead simple example of a Vue app written by the author of Vue himself. http://jsfiddle.net/yyx990803/yMv7y/

[2018-05-09 10:43] jakoblind commented on #4
Thanks for the detailed information @infomaniac50 !

I have created a PR: https://github.com/jakoblind/webpack-configurator/pull/12 . I would highly appreciate some testing! It seem to work fine from my perspective but this is my first time coding Vue so it would be nice if some more experienced would look at it :)

[2018-05-09 10:45] jakoblind opened #13 "Possibility to download minimal source files for React, vue and pure Js"
For inspiration: template code for Vue:

src/index.js
[code]

src/App.vue (should add styling if selected.)
[code]

dist/index.html
[code]

[2018-05-09 10:45] jakoblind commented on #13
Sample source code for React can be found here: http://blog.jakoblind.no/react-with-webpack-babel-npm/

[2018-05-10 13:34] jakoblind opened #14 "React hot loading"
Myabe under an advanced section?

[2018-05-10 13:34] jakoblind opened #15 "Node option"
Possibility to create a bundle to be run on the backend. maybe under advanced section?

[2018-05-10 13:50] jakoblind opened #16 "Angular support"
Please discuss :)

[2018-05-11 17:59] jakoblind commented on #4
I have merged it in! :) please file a new issue if you find a bug!

[2018-05-11 17:59] #4 closed

[2018-05-11 18:25] PlayMa256 opened #17 "Crashing when selecting moment"
I'm on firefox.

When selecting moment, the app is crashing with the following stack trace:

[code]

[2018-05-12 11:06] jakoblind commented on #17
Thanks for reporting! I fixed it

[2018-05-12 11:06] #17 closed

[2018-05-15 00:04] spartanatreyu commented on #16
This may be tied to typescript support (since Angular 2+ is almost always coded with typescript) but the best vanilla typescript config might not be the same as the best Typescript & Angular 2+ config.

[2018-06-07 07:16] jakoblind commented on #10
Fixed by @elliotsa !

[2018-06-07 07:16] #10 closed

[2018-06-07 07:40] elliotsa opened #19 "Small React Development Bugs"
Hey! When running the app locally I noticed a few small React bugs:
* Feature checkbox components start uncontrolled and switched to controlled when selected, which throws an error.
* In the Features component, no key is provided when mapping over groupedFeatures and then again over featureList.

I can take care of both of those in a PR but I was curious if you had any preference on how to deal wi

[2018-06-08 05:17] jakoblind commented on #19
Nice!

I haven't thought about how to fix them, so I don't have any preferences :) Awesome if you want to take a stab at this one!

[2018-06-08 06:11] elliotsa commented on #19
No problem! Just submitted #20

[2018-06-08 18:15] jakoblind commented on #19
Awesome!

[2018-06-08 18:15] #19 closed

[2018-07-12 08:30] #9 closed

[2018-07-12 08:30] jakoblind opened #22 "Automatically create a project on github with your config"

[2018-07-15 09:56] jakoblind opened #23 "syntax highlighting is not perfect"
- It highlights everything as javascript.
- it seem to highlight wrong sometimes

[2018-08-23 20:57] mhadaily commented on #16
Webpack configuration for Angular is very tricky, it needs to support Lazyloading and other Angular features.

Also, it's less likely someone starts a project and don't use Angular-CLI, CLI almost supports everything that a frontend project needs to have.  and new CLI is also extendable and support schematics.

[2018-08-23 20:59] mhadaily commented on #13
in this PR #24, I have added and improved Vue template.

[2018-09-12 10:07] mrdulin opened #25 "Support nodejs + typescript environment"
Need this feature.

[2018-09-18 10:40] jakoblind commented on #25
typescript is now implemented! :)

Why do you need to support nodejs? Is it for server side rendering, or something else?

[2018-09-18 10:43] jakoblind commented on #16
@mhadaily makes a good point. I will close this for now.

[2018-09-18 10:43] #16 closed

[2018-09-18 10:46] jakoblind commented on #3
We now have typescript support thanks to @mhadaily ! It's not optimized to keep thing simple. Maybe optimized typescript should be an option?

[2018-09-18 17:07] jantimon opened #26 "Combine with webpack-config-plugins"
Hey @jakoblind

we tried to prepare reusable plugins for loader configurations.
Maybe you could use them for webpack-autoconf?

https://github.com/namics/webpack-config-plugins

[2018-09-18 18:59] jakoblind commented on #26
Hi @jantimon

Thanks for your request.
This tool is mainly for new devs who want to learn webpack . That's why I want to keep it simple and only use the most basic and common stuff. Your plugin looks awesome though and looks like a nice alternative to this tool!

//Jakob

[2018-09-18 18:59] #26 closed

[2018-10-07 06:10] #14 closed

[2018-10-07 06:10] #13 closed

[2018-10-27 07:59] nicothin opened #30 "Add PostCSS with Autoprefixer"

[2018-10-30 06:00] jakoblind commented on #30
Is this all there is to config it? https://github.com/postcss/autoprefixer#webpack then it should be pretty simple to implement and should be prioritized  :)

[2018-11-09 18:05] jourdain opened #31 "Bundle optimizer: Issue loading stats.json"
I was curious to try out your tool and did it on one of my project.
Since you are asking for feedback, here is the stats.json that failed.

[stats.json.zip](https://github.com/jakoblind/webpack-autoconf/files/2566991/stats.json.zip)

If you want to try out building the project, it's available [here](https://github.com/kitware/vtk-js)
But I did it more by curiosity, feel free to close that issue if

[2018-11-09 20:34] MatthewHerbst opened #32 "Does this support Webpack v1?"
I ran the command `npx webpack --mode production --profile --json > stats.json` as stated on the website, and when trying to upload the file to the website got:

![image](https://user-images.githubusercontent.com/1287375/48286649-2c1abd80-e41b-11e8-8007-0c43d8cda47c.png)

It doesn't give any more information, either on the website itself or in console. Is there any way to determine what's wrong wi

[2018-11-10 18:54] jakoblind commented on #32
the tool is for webpack v4, and I have never tried it for webpack v1. if you want you can email the stats.json file on jakob@jakoblind.no and I will look whats wrong. I am closing the issue

[2018-11-10 18:54] #32 closed

[2018-11-12 07:12] jakoblind commented on #31
Thank you for sharing your stats.json file. I have made an improvement and now your file works!

[2018-11-12 07:12] #31 closed

[2019-04-02 01:19] mjdavidson opened #38 "website is down"
https://createapp.dev/ is not working for me

[2019-04-21 09:41] alexabruck opened #39 ""How to create your project yourself" missing for Parcel"
The section named "How to create your project yourself" describes the "Webpack" procedure, even when "Parcel" is selected in the tab above

[2019-04-30 01:52] zzzgit opened #40 "npm i failed"
![image](https://user-images.githubusercontent.com/1060733/56937110-94766c00-6b2d-11e9-9f66-1da0316aa391.png)

[2019-05-03 07:39] jakoblind commented on #38
@mjdavidson it seems to be up for me. Could you try again?

[2019-05-03 07:44] #39 closed

[2019-05-03 07:44] jakoblind commented on #39
Thank you for reporting @alexabruck . It should be fixed now!

[2019-05-22 02:37] JuanmaMenendez opened #41 "Add webpack-dev-server to Vanilla JS projects (No React or VueJS)"

[2019-05-22 02:41] JuanmaMenendez opened #42 "Add Linters integration options (EsLint, StyleLint, Prettier, Lint-Staged + Husky)"
Add option to integrate

EsLint
StyleLint
Prettier
Lint-Staged + Husky

Just with some basic standards configurations.

[2019-05-24 06:23] jakoblind commented on #42
Good idea, I will start working on prettier and eslint first because I think those are most widely used.

[2019-05-24 06:23] jakoblind commented on #41
This is also a good idea, will work on this also next time I have time to work on this project. Always feel free to send PR :)

[2019-06-09 15:17] tlgman opened #43 "Add a simple rest API to download complet project (zip)"
For example :
`curl -L https://createapp.dev/webpack/api/?main-library=react&transpiler=babel,typescript&styling=sass `

This command will download a zip file corresponding to project configuration.

It's really useful if someone (like me) wants to make a script initialize a project with webpack quickly.

[2019-06-11 07:22] jakoblind commented on #43
This is a good suggestion. The code already exists for this, I just need to publish it to a lambda function or something!

[2019-06-17 09:47] jakoblind opened #45 "add .gitignore file for all project configurations"
add things like:

[code]

[2019-07-05 08:37] janus opened #46 "Support Rollup"
Please add support for Rollup

[2019-07-06 05:56] jakoblind commented on #38
closing this issue because everything seems to be working fine. please open a new issue if the problem persists

[2019-07-06 05:56] #38 closed

[2019-07-06 06:19] jakoblind commented on #42
would love some input on what default configs to use

[2019-07-06 14:27] JuanmaMenendez commented on #42
It is a good Idea to use the recommended configurations

**To integrate and configure EsLint and Prettier**

1- `npm install eslint --save-dev`

2- `npm install prettier --save-dev --save-exact`

3- Just follow these two steps https://prettier.io/docs/en/integrating-with-linters.html#recommended-configuration
3.1 `npm i eslint-config-prettier eslint-plugin-prettier –save-dev`
3.2  In _.eslintrc.js

[2019-07-06 14:45] JuanmaMenendez commented on #42
**To integrate and configure Lint-Staged and Husky with ESLint, StyleLint and Prettier**

To get the different  `lint --fix` to be executed automatically in a pre-commit hook you have to configure husky and lint-sataged. And previously configured the package.json the eslint, stylint and prettier (as you can do in my previous comment)

Gladly thanks to https://github.com/sapegin/mrm this is very ea

[2019-07-06 17:09] jakoblind commented on #42
awesome! thanks a lot @JuanmaMenendez . will add this gradually starting with eslint/prettier. going to need to rethink the UI to be able to squeeze in more options :)

[2019-07-06 17:13] jakoblind commented on #46
I have been thinking about this. Do you mostly use rollup for creating libs or apps? What kind of features do you use? Any links to relevant docs, boilerplates, etc would be very much appreciated :) i'm not a big rollup user so all help is useful here

[2019-07-06 17:14] jakoblind commented on #30
I just added it! check it out :) I'm going to close this, feel free to create a new issue if something is missing in my implementation

[2019-07-06 17:14] #30 closed

[2019-07-14 22:13] methodbox opened #47 "React - TypeScript should include typescript, @types/react and @types/react-dom as deps when using Parcel"
This issue occurs when using the web UI.

Currently, when creating a new project using React and selecting TypeScript there are no definitions files installed. Note that I've tried this w/and w/out having React selected first. It simply doesn't get added to the package.json. EDIT - **This is when using Parcel, only.** It appears to work with webpack.

React doesn't include definitions files, they

[2019-07-14 22:24] methodbox commented on #47
While we're at it it doesn't include TypeScript in the package.json. While this is included in VS Code, that's not the case for all popular editors.

[2019-07-18 06:22] jakoblind commented on #47
When I select React and typescript I see that `@types/react`, `@types/react-dom` and `typescript` are added in `package.json`:

<img width="1080" alt="Skärmavbild 2019-07-18 kl  08 22 14" src="https://user-images.githubusercontent.com/399339/61434039-32135780-a935-11e9-8896-5f4372157e3c.png">

Is this not what you see when you select it? Or are you using the CLI?

[2019-07-20 19:06] methodbox commented on #47
I am not seeing that. And I didn't know there was a CLI, but I do now and I may use that.

If I just select TypeScript, it updates to a `src/index.ts` and adds a `tsconfig.json`; it doesn't even add TypeScript as a dependency.

Note that you are using webpack. I am using Parcel. It appears to work correctly with webpack. It does not work correctly with Parcel.

I'll update the title and OP to be m

[2019-07-24 06:13] jakoblind commented on #47
Thank you for making it more clear. I have followed the [official Parcel docs](https://parceljs.org/typeScript.html) and from that I learned that the `typescript` dependency is installed automatically - you don't have to add it to `package.json`. The docs also don't say to add the types when adding React, but I guess it makes sense to add them anyway? I am not so familiar with typescript, but I gu

[2019-07-24 12:28] methodbox commented on #47
@jakoblind Yeah, you actually *need* to add the types.

I’m not sure why you wouldn’t need to add TypeScript, but if you’re using VS Code it’s not 100% necessary unless the version shipping with VS Code isn’t as new as the one you want to use.

I’m not sure how that would work for people not using VS Code, though.

[2019-07-30 06:44] jakoblind commented on #47
I added the types!

Parcel doesn't require `typescript` as depedency, it adds it automatically. I know I read this somewhere but can't find it right now :D. It doesn't matter if you use VS code or not. From my understanding, it's best practice to not add it in `package.json` so I'll keep it out for now. I'll close this github issue now, but please feel free to open a new if you find any new info.

[2019-07-30 06:44] #47 closed

[2019-07-30 13:28] methodbox commented on #47
@jakoblind

Thanks for fixing that so quickly!

Btw I found the reference you’re referring to:  https://parceljs.org/typeScript.html

[2019-09-29 08:25] johnnyreilly commented on #3
By now, the fastest way to get TypeScript working with webpack looks something like this example:

https://github.com/TypeStrong/ts-loader/tree/master/examples/fork-ts-checker-webpack-plugin (although it might be a touch out of date packages wise)

Prompted by this tweet: https://www.twitter.com/johnny_reilly/status/1178199736760721409

[2019-09-29 13:10] mabouchalkha opened #48 "Aurelia support"
Hi,

It's possible to support Aurelia framework https://github.com/aurelia/aurelia

Thanks

[2019-10-01 06:23] DanielWLam opened #50 "Cannot use [chunkhash] or [contenthash] for chunk"
ERROR in chunk runtime [entry]
[name].[contenthash].js
Cannot use [chunkhash] or [contenthash] for chunk in '[name].[contenthash].js' (use [hash] instead)

![image](https://user-images.githubusercontent.com/8369212/65938925-f62d6000-e456-11e9-9f76-5881d8af3b8a.png)

[2019-10-01 06:42] jakoblind commented on #50
I couldn't reproduce this error. Which features did you pick?

[2019-10-01 22:21] jacekk commented on #50
I've came across the same error while adding `webpack-dev-server` with the `--hot` flag. Simple

[code]
causes this error. It is somewhat described in https://stackoverflow.com/a/50217641 .

----

I have a possible solution, so let me prepare a PR that would add support for webpack-dev-server OOTB.

[2019-10-05 00:26] lucasjs opened #53 "Refactor PostCSS + CSS Modules"
The config now is huge and confuse:
[code]

I made some changes and we can have the same goal with this and also, delete the `postcss.config.js` file:
[code]

If you agree, I can make some changes and create a Pull Request! :)

[2019-10-08 12:28] #50 closed

[2019-10-11 07:21] jakoblind commented on #53
You have selected `CSS Modules`, `Post CSS` and `CSS`. The config is not that complex when only selecting `CSS Modules` and `Post CSS`:

![image](https://user-images.githubusercontent.com/399339/66632250-4c916000-ec08-11e9-9c0a-88670ef925a8.png)

One problem is that `CSS` is autoselected when clicking `PostCSS` even though `CSS Modules` is selected, which can lead to confusion. A fix is to not aut

[2019-10-12 18:51] lucasjs commented on #53
@jakoblind I could fix that! And what about remove the `postcss.config.js` file?

[2019-10-16 09:39] theajr opened #56 "Proposal: Add ESLint, git pre-hooks"
Hello @jakoblind

To maintain consistent coding standards in this repository, we should add the following.

- [x]  [`eslint`](https://eslint.org/docs/user-guide/getting-started)
- [x] [`babel-eslint`](https://github.com/babel/babel-eslint)
- [x] [`lint-staged`](https://github.com/okonet/lint-staged)
- [x] [`husky` ](https://github.com/typicode/husky)

Please have a look and let me know your though

[2019-10-16 09:48] jakoblind commented on #56
Good idea, I agree. I'm not sure we need both `lint-staged` and `husky`. Isn't one of them enough?

We also need to agree on the eslint rules. I suggest starting with something not too strict, and then add rules continuously.

[2019-10-16 10:17] theajr commented on #56
@jakoblind In most of the cases `lint-staged` and `husky` are being used together. I will try to analyse more and update you.

And coming to eslint rules, my choice would be using  `eslint:recommended`, `airbnb`,  `plugin:prettier/recommended` and `prettier/react`.

[2019-10-18 06:52] theajr commented on #56
@jakoblind Sure, You can assign this issue to me. I am already done with adding prop-types for all components. I will raise a pull request in couple of minutes.

[2019-10-18 06:57] jakoblind commented on #56
awesome @theajr ! :+1:

[2019-10-18 07:21] jakoblind commented on #56
For some reason I get an error when I try to commit code now.

[code]

Any ideas before I start debugging?

[2019-10-18 07:24] theajr commented on #56
@jakoblind I faced it and fixing it now.

Root cause: in `lint-staged` object, we have regex to run commands on `src/**/*.{js,jsx,ts,tsx}` which is return all staged `js, jsx, ts, and tsx` files. but npm test expects *`.test.js` or `*.spec.js`, as our matching files are note test/specs, it's throwing the error.

I am trying to find the way to handle this case.

[2019-10-18 07:26] jakoblind commented on #56
Ok I see. If it's too much work fixing, we could consider disabling running tests on commit.

[2019-10-18 07:26] theajr commented on #56
To unblock yourself, you can move `npm test` to` pre-push` hook like shown in this screenshot.

<img width="297" alt="Screenshot 2019-10-18 at 12 55 36 PM" src="https://user-images.githubusercontent.com/11477078/67074415-b1b7f900-f1a6-11e9-83bf-6e12783447b5.png">

[2019-10-18 07:27] jakoblind commented on #56
I'm thinking maybe that's a good long term solution? To run tests on push instead. :thinking:

[2019-10-18 07:29] theajr commented on #56
I totally agree. We can go with this approach then.

[2019-10-18 07:35] theajr commented on #56
@jakoblind Please review the raised PR.

[2019-10-18 07:40] theajr opened #60 "Joyride beacon is shown on modal dialog"
Once we download the project, Downloading modal comes up. Joyride beacon should be behind the modal dialog, but it is shown on the modal!

<img width="590" alt="Screenshot 2019-10-18 at 10 23 09 AM" src="https://user-images.githubusercontent.com/11477078/67075336-9c43ce80-f1a8-11e9-9f59-bc5426c65a51.png">

[2019-10-18 07:41] theajr commented on #60
@jakoblind you may assign it to me.

[2019-10-18 10:18] theajr commented on #41
@jakoblind @JuanmaMenendez

[2019-10-18 10:22] theajr commented on #41
@JuanmaMenendez

Are you asking functionality similar to `nodemon` ? Like you need webpack-dev-server just to watch and bundle the js files?

Or do you have any other expectations?

[2019-10-18 10:49] theajr opened #62 "Unavailable link in about page"
@jakoblind

On about page, is redirecting to [non-existing page](https://www.getdrip.com/forms/81916834/submissions/new). I think this is because drip form id is wrong.

You can check and update it accordingly.

[2019-10-18 13:43] JuanmaMenendez commented on #41
@theajr I am asking we can start a Vanilla project and have (babel, css preprocesor, typescript, etc.. )

@jakoblind I think that is possible right now, I am ok ? Maybe we should close this issue?

[2019-10-20 00:01] Adarsh077 opened #63 "npm script"
Add --watch to 'build-dev' script in package.json file
![image](https://user-images.githubusercontent.com/47920913/67152767-abbc3800-f2cc-11e9-83f4-a07ed0449e3b.jpg)

"build-dev" : "webpack -d --mode development --watch"

[2019-10-20 00:03] Adarsh077 commented on #63
By the way your online tool is awesome and is very handy. Thank you :) :+1:

[2019-10-21 06:55] #60 closed

[2019-10-21 07:00] jakoblind commented on #41
Most of it is possible right now, but `webpack-dev-server` is only available as a `script` in `package.json` if you select `React hot loader`. Should we consider having the script there at all times?

![image](https://user-images.githubusercontent.com/399339/67183226-4148ec00-f3e1-11e9-95f1-d4d065fdcf81.png)

[2019-10-21 07:02] jakoblind commented on #63
An option to this is to add `webpack-dev-server` in the `start` script as discussed https://github.com/jakoblind/webpack-autoconf/issues/41 . What do you think?

[2019-10-21 07:07] theajr commented on #41
@jakoblind **yes**, we should give `webpack-dev-server` script if user don't select any of the given framework.
Because in given use case, user don't need react. We don't show `React Hot Loader` unless user selects `React`.

[2019-10-21 07:12] jakoblind commented on #41
But we should leave out `--hot` parameter if `React hot loader` is not selected I think. Because some extra code on frontend is needed for hot module replacement to work.

[2019-10-21 07:17] theajr commented on #41
I don't think so, let me know if I am wrong.
We need extra code only in case of react to utilise react-hot-loader's HMR feature instead of refreshing the entire browser tab. If we don't have extra code, then it will refresh the browser tab. I guess it should be okay in this case?

[2019-10-21 07:22] jakoblind commented on #41
Yes, you are correct. There was some time ago I worked with this, thanks for reminding me how it works!

So the task is then to always show the `start` script in `package.json` (and make sure it works in Vue as well, if not, don't show for Vue)

[2019-10-21 07:24] jakoblind commented on #62
Thank you for reporting this issue @theajr! I had forgotten to change the link after moving away from drip. It's now fixed

[2019-10-21 07:24] #62 closed

[2019-10-21 07:30] theajr commented on #41
Yeah, we should do it. You may assign this to me.

[2019-10-21 12:48] jakoblind opened #64 "New feature: html-webpack-plugin"
By default, there is a hardcoded `index.html` in the `dist` folder. There is a plugin called [HTML webpack plugin](https://github.com/jantimon/html-webpack-plugin) that can generate the `index.html` and is quite commonly used.

Let's create a new feature group called "Webpack plugins" and add "HTML webpack plugin" to that. The configuration should look similar to the one generated when clicking `c

[2019-10-21 14:42] Adarsh077 commented on #63
Yeah, I think that's the perfect solution.

[2019-10-21 14:42] #63 closed

[2019-10-21 15:05] theajr commented on #46
@jakoblind I would like to work on this.

[2019-10-22 06:02] jakoblind commented on #46
awesome @theajr ! This is a big task so let's focus on shipping something small but useful first. I know that [svelte uses rollup](https://github.com/sveltejs/template) as their "default" build tool, so I'm thinking to support svelte only as a first version. What do you think?

Also before starting to code, we should agree on what the generated rollup should look like.

[2019-10-22 06:48] theajr commented on #46
@jakoblind

I agree.

I did code to support normal, Babel, Typescript for Rollup already.

Used [RollUp's JS template](https://github.com/rollup/rollup-starter-app) for the configs for JS & Babel.
Used [Typescript Plugin usage sample](https://github.com/ezolenko/rollup-plugin-typescript2) for typescript config.

I will raise a PR in couple of minutes so that you can provide some feedback.

[2019-10-22 07:15] janus commented on #46
@jakoblind
This is janus the chap that created this issue, I would be willing to work with @theajr to develop my skill.

[2019-10-22 13:45] vreddy448 commented on #64
1) **Html Webpack Plugin Feature** under Webpack plugins Group.
2) when this feature is checked it will update webpack.config.js
3) this feature will help to generate index.html when we do "npm run build-prod" or "npm run build-dev"

<img width="1440" alt="Screen Shot 2019-10-22 at 6 52 09 PM" src="https://user-images.githubusercontent.com/22933940/67289965-1358ca00-f4fd-11e9-9c5a-dbc2a5df388e.png

[2019-10-22 16:19] jakoblind opened #68 "Improve syntax highlighting"
Improving syntax highlighting as discussed in https://github.com/jakoblind/webpack-autoconf/pull/55.

Link to @jacekk s WIP: https://github.com/jacekk/webpack-autoconf/pull/1/files

[2019-10-22 20:19] jacekk commented on #68
@jakoblind Can you assign me? Not promissing to implement this "today", but I would like get to know PrismJS a bit more :)

[2019-10-23 06:37] jakoblind commented on #68
assigned you @jacekk ! :+1:

[2019-10-23 08:17] #45 closed

[2019-10-23 22:01] jacekk commented on #68
@jakoblind
I guess the following issue is related: #23 :)

[2019-10-24 06:59] jakoblind commented on #23
Closing this because it's a duplicate of #68

[2019-10-24 06:59] #23 closed

[2019-10-24 09:42] #68 closed

[2019-10-25 12:05] jakoblind opened #71 "New feature: webpack bundle stats plugin"
There are many stats plugin such as [source-maps-explorer](https://github.com/danvk/source-map-explorer) and [webpack-bundle-analzyer](https://github.com/webpack-contrib/webpack-bundle-analyzer) and others. which one is most "best practice"? We should pick that and add it as a feature.

This should be under the new feature group "Webpack plugins" as also discussed in https://github.com/jakoblind/w

[2019-11-06 07:21] jakoblind commented on #46
@janus if you still have some time to help, we could use some support on https://github.com/jakoblind/webpack-autoconf/pull/69 . There is some problem with typescript

[2019-12-11 23:01] methodbox opened #73 "Parcel/React - Missing babel devDep due to changes w/Babel"
Babel has made some changes that require an additional dev dependency from what is auto-populated on the createapp.dev site.

This also requires an update to your `.babelrc`.

I've listed the things that need to be changed to make it work, but honestly I haven't done the research to determine why this just suddenly started happening. You might refer to this issue, but it's a year old at this point

[2019-12-12 11:00] jakoblind commented on #73
From my understanding, this babel plugin is only needed if you're using the [class property syntax](https://babeljs.io/docs/en/next/babel-plugin-proposal-class-properties.html). The example code in  createapp.dev doesn't use this syntax so this plugin is not required to build the projects.

Have you run into any issues with the generated projects that made you look into this plugin?

[2019-12-14 17:09] methodbox commented on #73
That’s correct, but I guess I would assume that most people using React do, at some point, use the class syntax. It may not be necessary for many components, but it’s pretty common. However, I see your point.

[2019-12-23 13:31] atilkan opened #74 "lodash-es instead of lodash"
With lodash-es, we don't need module replacement.

[2019-12-23 13:32] atilkan commented on #71
webpack-bundle-analzyer is more visual and has the what the other has.

[2020-01-11 16:11] #73 closed

[2020-01-11 18:09] leoncvlt opened #75 ".gitignore generated from webapp ignores dist/index.html even though it's not supposed to"
This is using the web tool on createapp.dev

When I create a webpack conf, the .gitignore comes out as
[code]

Which is meant to ignore bundled webpack files in the dist folder, but allow for index.html - fair. Problem is that this syntax ignores the dist directory itself (so git won't look inside) instead of the files within the directory (which allows for the exclusion). It should be
[code]

In

[2020-01-14 11:32] jakoblind commented on #75
agree. if you wanna send a PR, this is the file to update: https://github.com/jakoblind/webpack-autoconf/blob/master/src/templates/base.js#L126 :)

[2020-01-16 20:15] jacekk commented on #75
@leoncvlt And I have to disagree. Simple test shows that the `dist` directory is scanned by **git**:
![image](https://user-images.githubusercontent.com/1695878/72559522-44029280-38a5-11ea-9441-c81678fc2f5e.png)

[2020-01-16 20:21] jacekk commented on #71
I also recommend https://www.npmjs.com/package/bundlesize as it can be easily triggered in CI and fail a job when some assets grow too much, and which could/should be optimized.

[2020-01-17 15:39] leoncvlt commented on #75
That's because your image shows that your  .gitignore has the right definition, `dist/*` (with the asterisk). I don't know how you scaffolded your code, but If I go to https://createapp.dev/webpack and download the template project, the generated .gitignore has just `dist/` which causes the aforementioned issue.

I'll see if I can get around a PR this weekend :)

[2020-01-17 15:59] jacekk commented on #75
@leoncvlt Total failure from my side. I wanted to introduce the change, then I thought I have to test it, so I've tested the altered version, not the original. What a :man_facepalming: . Will test again and create a PR later today :)

[2020-01-20 08:18] #75 closed

[2020-01-20 08:25] jakoblind commented on #75
nice! it's merged

[2020-01-20 10:24] leoncvlt commented on #75
Thanks both!

[2020-02-07 11:41] wapcrazut opened #79 "Typescript: ts-loader instead awesome-typescript-loader"
I've using this app but I saw when Typescript is enabled it adds `awesome-typescript-loader` into `package.json` devDependencies and also it uses this loader into the `webpack.config.js`.

But when I click in the help icon, it shows it will use `ts-loader` (which is preferred):

![image](https://user-images.githubusercontent.com/12850505/74026610-d67aeb00-49a6-11ea-8d13-1e44e56dab40.png)

[2020-02-09 16:26] thierryc opened #80 "UX/UI suggestion"
UX/UI suggestion

Replace three checkboxes by three radio buttons in the main Library settings.
The choice is OR not AND.

Wonderful tools. Thank you for sharing it.

<img width="233" alt="image" src="https://user-images.githubusercontent.com/197471/74105713-47004400-4b2e-11ea-9e7f-a749c45690b1.png">

[2020-02-10 11:34] jakoblind commented on #80
This is a good suggestion. 👍

[2020-02-10 14:47] thierryc commented on #80
Thank you.

[2020-02-17 22:57] linus345 opened #82 "Missing App component in React starter"
When selecting React as the main library and downloading the zip file `src/index.js` is trying to import the App component from `src/app.js` which currently doesn't exist. This throws the error :
[code]
To stay consistent with naming conventions it would also be a good idea to change the import from `src/app.js` to `src/App.js` at the same time as this gets fixed.

I can fix this in a PR if needed

[2020-02-18 00:57] linus345 commented on #80
I can give this a try, would you like the inputs to actually be `type="radio"` or keep it as is and only change the styling considering they already act as radio buttons?

[2020-02-18 12:10] jakoblind commented on #80
Good point @linus345 . that's also an argument for not style it as a radio button. We would break what a user expects. A user wouldn't expect it to be possible to "deselect" a marked radio button.

Now I'm leaning towards checkboxes are best of these two solutions.

Is there a third option?

[2020-02-18 12:40] jakoblind commented on #82
Thanks for reporting, and it would be awesome if you have time to fix! let me know if you need any assistance. also I agree `src/App.js` is correct naming.

[2020-02-18 14:20] linus345 commented on #80
Maybe including "No library" "Vanilla JS" or something similar as an option that is selected by default and have them as radio buttons?

[2020-02-19 08:51] #82 closed

[2020-02-19 09:07] jakoblind commented on #80
Good idea. How could I not think of that :D . I like "No library" better. I'm afraid newbies will think "Vanilla JS" is a framework or something.

Maybe we also should change "Main library" to "View library" or something more describing.

[2020-02-19 09:43] linus345 commented on #80
”Library / Framework” may be good too, what do you think?

[2020-02-19 20:39] linus345 commented on #80
If going with radio buttons and the added option "No library" how would you prefer the implementation? To add a new "No library" `feature` and set it to true in `selectedFeatures` when selected(1) **or** to set all main libraries  to false when "No library" is selected(2)?

**Example 1**
[code]

**Example 2**
[code]

Example 2 seems to be what is happening now and would probably need the least amo

[2020-02-20 07:12] jakoblind commented on #80
Good question. I haven't thought this through in detail yet, but I think example 1 makes the most sense. Add the "No library" feature (it has to be named "No library" and not NoLibrary because this id is used in the UI) in `configurator/webpack-config/index.js` and `configurator/parcel-config/index.js`. This feature will just be empty, something like this:

[code]

When you add it, it should pop u

[2020-02-20 07:26] linus345 commented on #80
yes I've implemented the styles and conditional for the radio buttons and also added the extra library option just as you did above. It's still not behaving as the other options and I haven't had the time to look at it yet. What's happening now is that when `No library` is selected the previously selected library doesn't get unchecked which probably have something to do with the `selectionRules` a

[2020-02-20 07:34] jakoblind commented on #80
Yes exactly, that is what `selectionRules` are for.

[2020-02-21 15:23] shafkathullah opened #85 "react plugin not mentioned in package.json"
react plugin not mentioned in package.json

[2020-02-24 08:23] #80 closed

[2020-02-24 08:25] jakoblind commented on #85
could you describe the issue in more detail? I cannot seem to reproduce the issue.

[2020-02-24 08:34] shafkathullah commented on #85
![Screenshot 2020-02-24 at 2 02 08 PM](https://user-images.githubusercontent.com/15883435/75137722-570f4a80-570e-11ea-9cd8-ab332d999c1e.png)
Here we need "eslint-plugin-react" in the package.json right? Because we are using it in ".eslintrc" file.

[2020-02-24 08:58] jakoblind commented on #85
Yes you are right. I even get the error message when trying to run:

[code]

Thanks for reporting. This should be fixed!

[2020-02-24 10:59] linus345 commented on #85
I can fix this if needed.

[2020-02-24 11:43] jakoblind commented on #85
that would be great @linus345 !

[2020-02-25 06:53] #85 closed

[2020-02-25 10:58] linus345 commented on #71
I can give this a try, [webpack-bundle-analyzer](https://github.com/webpack-contrib/webpack-bundle-analyzer) looks good to me. What would you like the feature to be called? `Bundle stats` or `Webpack Bundle Analyzer` maybe?

[2020-02-25 12:03] linus345 commented on #71
webpack-bundle-analyzer gives a [option](https://github.com/webpack-contrib/webpack-bundle-analyzer#options-for-plugin) called `analyzerMode` which lets you configure if you want the plugin to start a server to show the report or generate a static HTML file of the bundle report. I think generating a static HTML file would be the best option. What do you think?

[2020-02-25 12:12] linus345 commented on #64
Looks like this was implemented in #67 and can be closed.

[2020-02-25 12:40] #64 closed

[2020-02-25 12:50] jakoblind commented on #71
I think we can support many of these tools. We could add a new group called "Analyzers" or something, and then add "Webpack Bundle Analyzer" to that group, and possibly more later. https://www.npmjs.com/package/bundlesize like @jacekk suggested could be the next candidate maybe.

Regarding the `analyzerMode` option, we should use the most best-practice way of using it, whatever that might be. I'm

[2020-02-25 12:53] jakoblind opened #88 "New feature: MiniCssExtractPlugin"
this plugin is used to extract CSS to its own CSS files: https://webpack.js.org/plugins/mini-css-extract-plugin/

I think it would make sense to add it to the "Webpack plugins" group. If the CSS feature is not selected when selecting this feature, it should be autoselected.

[2020-02-25 12:56] jakoblind commented on #5
Babel is separated to it's own checkbox. Closing this

[2020-02-25 12:56] #5 closed

[2020-02-25 21:44] linus345 commented on #71
I agree that creating a separate NPM script would be a good solution. Should we decide on that? @jacekk and @atilkan do you have any other suggestions?

[2020-02-27 09:14] jakoblind commented on #71
Yes let's decide on that! and maybe put it under "webpack plugins" section until we have more stats plugins implemented.

[2020-02-27 09:15] jakoblind opened #89 "New feature: clean plugin for webpack"
clean plugin for webpack: https://github.com/johnagan/clean-webpack-plugin

it should be under the "Webpack plugins" section

[2020-02-27 09:33] jakoblind opened #90 "New feature: compression webpack plugin"
https://webpack.js.org/plugins/compression-webpack-plugin/

[2020-02-27 23:45] linus345 commented on #71
There seems to be an [issue](https://github.com/webpack-contrib/webpack-bundle-analyzer/issues/47) on Windows with the `webpack --profile --json > stats.json` command that generates the json file. If Windows is a requirement another option to generate the json file could be to [use it as a plugin](https://github.com/webpack-contrib/webpack-bundle-analyzer#usage-as-a-plugin) and set the option `ana

[2020-02-28 09:33] jakoblind commented on #71
I think Windows is a requirement.

Maybe we should go back to what you proposed initially. Just add the config to `webpack.config.js` with `analyzerMode` set to generate static files. Something like this:

[code]

It's simple and it makes sense. Also it's proposed at the top of the readme of `webpack-bundle-analyzer`

[2020-02-28 15:49] median-man opened #91 "New Feature: Prompt for project name"
First off, GREAT IDEA!!!! I'm so glad I found this app. I love having a starter readme, package.json, and webpack.config in one place.

When setting up my configuration options, I would like to be able to set the name of the project so that I do not have to edit it in `package.json`, `readme.md`, and anywhere else the project name might appear.

[2020-03-02 13:05] jakoblind commented on #91
Good idea. I think this should be implemented as an input field above the download button. The input field should be pre-filled with "empty-project" which is the default. When updating this, it should change the project name both in the UI, and the downloaded project. The input field should also have a label saying "Project name"

[2020-03-02 19:57] linus345 commented on #91
I can give this a try. Should there be a whitelist of allowed characters to prevent users from accidentally using invalid characters like `/` in unix? And if so would you like them to only be warnings or actually prevent the user from downloading the zip-file from the UI if there are invalid/not recommended characters in the filename?

This is what I think could be a good whitelist:
* a-z
* A-Z
*

[2020-03-03 07:10] jakoblind commented on #91
Good point about invalid characters. I agree with the whitelist you propose, but a bit unsure about the dot (`.`). I don't think a dot should be in a project name, but I'm willing to hear arguments for why some people might want it.

When it comes to validation, I think we should only allow characters from the whitelist. If the user types any other characters we just silently ignore it. Instead, w

[2020-03-03 13:49] linus345 commented on #91
Even though having a dot (`.`) in a directory name for a project might be unusual it's still valid in unix so I think it's better to give the user the option to have it if they want to.

Dots (`.`) are often used at the start of files and directories to make them hidden from commands like `ls` which some people may want to do.

[2020-03-04 08:04] jakoblind commented on #91
Valid points. I agree.

We must also consider limitations in NPM package names because we'll use the name in generated `package.json`. I found [this third party library](https://www.npmjs.com/package/validate-npm-package-name#naming-rules) listing naming rules. An official list would be better but can't seem to find one right now.

Any ideas on implementation? I saw a new lib called [React hook fo

[2020-03-04 15:33] linus345 commented on #91
The third party library to validate npm package names looks good to me, here's a [official list](https://docs.npmjs.com/files/package.json#name) of the rules.

Considering that there's only one input I don't think using a third party library is necessary unless keeping the amount of re-renders as low as possible is a priority. We could instead do something basic like this:

[code]
and do the valid

[2020-03-04 18:50] jakoblind commented on #91
I agree. Let's not add the `react-hook-form` library yet only for one input field. Your suggestion is much more pragmatic and simple.

Let's keep it simple for now and only have one input field (not accepting `/` in package names). Because of this, maybe it's easier to implement validation rules instead of using that third party library, but you decide what is best.

[2020-03-06 08:19] jakoblind commented on #88
it done

[2020-03-06 08:19] #88 closed

[2020-03-06 09:09] jakoblind opened #94 "New feature: test frameworks"
Add support for test frameworks.
* jest
* mocha
* jasmin
* karma
* testcafe

And more?

[2020-03-10 07:25] #91 closed

[2020-04-09 16:37] hacknug opened #97 "[New Feature] Add support for Parcel + PostCSS"

[2020-04-14 07:23] jakoblind commented on #97
It's done. Thanks for your suggestion!

[2020-04-14 07:23] #97 closed

[2020-05-22 14:31] sarahBuisson opened #98 "suggestion : angular"
why not add angular framework to your scafolder?

[2020-05-25 13:45] bitsnaps opened #99 "How about adding express.js?"
Usually we need a backend framework for reseving an api, how can this be added without creating two extra directories `client` and `server` with one starting script for convenience?

[2020-05-27 17:12] Nicholas-Westby opened #100 "Webpack + Svelte + Babel Fails in IE11"
I select Webpack + Svelte + Babel:

![createapp](https://user-images.githubusercontent.com/5933222/83051103-5da9a880-a002-11ea-8ba6-c1abafd51809.png)

Download the zip, unzip to my local. Run `npm i` and `npm run build-prd`.

When I open in Chrome, I see "Hello world!". When I open in IE11, I see this:

![ie11](https://user-images.githubusercontent.com/5933222/83050849-fc81d500-a001-11ea-9a52-2d51

[2020-05-27 18:05] jakoblind commented on #100
Most modern apps don't support IE11, so I don't think I will add support for it here.

I think you are on the right track with the plugin. You might also want to look into configuring the babel-preset-env to support IE11. I wrote a [blog about babel present env](https://blog.jakoblind.no/babel-preset-env-custom-browserlistrc/). It doesn't exactly describe how to do it but might be a ok starting po

[2020-05-27 18:05] #100 closed

[2020-05-27 19:43] Nicholas-Westby commented on #100
Might be a babel bug or something. I set the targets to support older browsers:

![babel-config](https://user-images.githubusercontent.com/5933222/83064794-3d381900-a017-11ea-9959-592273bd588e.png)

And the debug output showed that it was targeting IE8:

![targets](https://user-images.githubusercontent.com/5933222/83064744-25609500-a017-11ea-8fc9-bf42102085ff.png)

And it still seemed to contain t

[2020-05-28 05:23] jakoblind commented on #100
I took a closer look now. Let me describe what's going on. When you add svelte (without babel) in createapp.dev you get the following config:

<img width="911" alt="Skärmavbild 2020-05-28 kl  07 09 43" src="https://user-images.githubusercontent.com/399339/83101334-66f24e00-a0b2-11ea-90bc-63b2d06e10c4.png">

That part that is marked in red is the config for svelte. It says that all files ending wi

[2020-06-03 06:52] jakoblind commented on #99
I have thought about adding support for express. But not sure what you mean by "without creating two extra directories client and server with one starting script for convenience". It's a common practice to have one `client` and one `server` dir because it's two different code bases. Could you describe more what you mean, or link to a boilerplate where your suggested practice is implemented?

[2020-06-03 06:53] jakoblind commented on #98
It was under my impression that angular had its own CLI that everyone already used and was happy with. Maybe I was wrong. If others want angular support, please share in this thread

[2020-06-03 10:11] bitsnaps commented on #99
I know this sounds bit weird, keep thing separated is definitely the best practice, just for the sake of simplicity sometimes we want to keep the focus on the client side when creating prototypes we used to put everything in `app.js` (or `server.js`) and running express.js on a different port (ex. `3000`). https://github.com/bitsnaps/webpack-course

[2020-06-11 11:54] #89 closed

[2020-06-19 10:45] jakoblind opened #103 "Feature suggestion: Tailwind css?"
https://tailwindcss.com/docs/installation

[2020-06-23 11:35] #103 closed

[2020-06-24 08:32] jakoblind commented on #79
PR moving to ts-loader merged

[2020-06-24 08:32] #79 closed

[2020-06-24 11:41] #94 closed

[2020-07-09 02:47] brizer opened #104 "Feature request: webpack-dev-server"
The Webpack project should be launched by webpack-dev-server. So I think the dependency of webpack-dev-server is necessary.

[2020-07-09 14:56] dlewand691 opened #105 "Feature request: include Foundation framework"
Please include Foundation in the UI library section.

`"foundation-sites": "^6.6.3",`

[2020-07-14 18:18] mhsattarian opened #106 "Problem with CopyPlugin"
activating `CopyPlugin` would produce this:

[code]

instead, It should add this to `webpack.config.js`:

[code]

[2020-07-24 04:27] onlyice opened #108 "Problem with HTML webpack plugin"
When HTML webpack plugin is enabled, the config below appears in webpack config:

[code]

The problem is: `appMountId` is not an option of [html-webpack-plugin](https://github.com/jantimon/html-webpack-plugin), but an option of [html-webpack-template](https://github.com/jaketrent/html-webpack-template). So an react project with HTML webpack plugin enabled won't work.

A possible fix is using `temp

[2020-08-03 11:10] jakoblind commented on #106
fixed! thanks for reporting!

[2020-08-03 11:10] #106 closed

[2020-08-03 11:27] jakoblind commented on #108
Thanks for reporting! I moved from `html-webpack-template` to `html-webpack-plugin` (https://github.com/jakoblind/webpack-autoconf/commit/e6fc345e130bade6665b2835340983130d5b4b8f#diff-ad8b134dc5da19682fbbdcff2b1a36f0) but I must have missed this critical detail. I will look into if it's possible to move back to `html-webpack-template`. If not, I think your suggestion is the best.

[2020-08-03 11:30] jakoblind commented on #104
It looks like `webpack-dev-server` is a dependency.
![image](https://user-images.githubusercontent.com/399339/89178211-6e8c1280-d58d-11ea-9100-95288dfea31d.png)

could you please specify which features you select so I can recreate the issue. thanks!

[2020-08-04 01:30] brizer commented on #104
Choose Vue as main library...

[2020-08-04 01:31] brizer commented on #104
And the elementui is great ui library for vue, it is also necessary.

[2020-08-05 07:11] jakoblind commented on #104
I see. I think we should add a "Hot loading" option for vue, just like for React. When selected it would also add this to webpack.config.js:

[code]

More info here https://vue-loader.vuejs.org/guide/hot-reload.html#state-preservation-rules

[2020-08-05 07:11] jakoblind commented on #105
I tried to learn more about how to use webpack and foundation but didn't find much in their docs. Do you have more info @dlewand691 ? thanks

[2020-08-05 09:21] killeryyl opened #111 "Problem with copy plugin"
CopyPlugin Currently need a Object params named options, accept an array with key `patterns`

[2020-08-05 09:57] jakoblind commented on #111
I fixed this recently.

![image](https://user-images.githubusercontent.com/399339/89399437-c738e800-d712-11ea-97b6-e235f2cda950.png)

Maybe you have an old version cached in your browser, try a refresh.

[2020-08-13 15:56] dlewand691 commented on #105
I'm just learning webpack. I did find a few sources of reference that might help:
https://stackoverflow.com/questions/34107697/use-webpack-to-include-zurb-foundation-via-npm
https://github.com/timaschew/react-redux-foundation-boilerplate
https://github.com/pelamfi/zurb-foundation-scss-webpack-example
https://networksynapse.net/403/how-to-foundation-6-with-webpack-using-sass/

Thanks!

[2020-08-17 08:29] Jogai commented on #46
FYI: Vue 3 is using rollup as well (vite for development and then rollup for production bundling).

[2020-09-19 15:26] minimallyexceptional opened #116 "Feature Request: Bulma"
Love the tool and I'm especially loving the addition of svelte!

Something I'm loving just as much as svelte lately is [Bulma](https://bulma.io/)

Would love to see it added along the likes of Bootstrap and Tailwind as I have been using it in my svelte stack a lot lately.
Below I'll throw in a few bullet points on why I like it so much if you haven't checked it out yet.

- Really simple grid syste

[2020-09-28 16:39] LemonJuicer opened #117 "Linting"
Please add eslint in linting tab.
Here is an example of config file:
[code]

[2020-10-01 00:43] FredKSchott opened #118 "Build Tool Request: Snowpack"
First off, thanks for the great project!

[From snowpack.dev:](https://snowpack.dev/)

We've been seeing a ton of adoption recently, especially in the "beginner" / "getting started easily" space that this site seems to focus on. Dr. Axel Rauschmayer recently used Snowpack in his "minimal react" tutorial, for example: https://2ality.com/2020/08/minimal-react.html

Is there any interest in adding Sn

[2020-10-01 17:58] jakoblind commented on #116
sounds like a great idea! I currently don't have time, but anyone are welcomed to implement this and send a PR

[2020-10-01 18:05] jakoblind commented on #118
I've never heard of snowpack, but it seems like a solid project! A PR with snowpack support is very welcomed.

My advice is to send multiple smaller PRs, or at least share your work along the way if it gets big. we can discuss in this thread.

[2020-10-12 01:17] RobJacobson opened #119 "Security vulnerability with node-forge"
Thanks for this app!  You probably know this already, but calling "npm install" on a "vanilla" configuration for Parcel generates this security warning:
[code]

[2020-10-26 12:36] jakoblind commented on #118
Hi @FredKSchott. I've looked into snowpack and it looks really promising, thanks for letting me know about it! I have implemented support for React and some of the features that were easy to move over from webpack. I wanted to share this with you before I merge it into master. You can run it [live here](https://5f96bfe56f50d20007313d77--naughty-ramanujan-bf38b8.netlify.app/snowpack), and the code

[2020-10-28 18:13] jakoblind commented on #117
eslint is already supported.

![image](https://user-images.githubusercontent.com/399339/97478668-8804e680-1951-11eb-86f5-961b745113da.png)

Closing this, but feel free to comment if you want to request any improvments

[2020-10-28 18:13] #117 closed

[2020-10-28 18:21] jakoblind commented on #119
Thanks for reporting but I'm having troubles to reproduce. This is my output from running `npm install` with no feature selected in a Parcel project:

[code]

[2020-10-28 18:30] jakoblind commented on #118
Alright, I just shipped the first version of snowpack! With React and some other features.

[2020-10-28 19:23] FredKSchott commented on #118
Ah exciting!!! That's great to see! Will play around a bit today and report back with a PR if I find any changes/fixes.

[2020-10-29 01:35] RobJacobson commented on #119
Thanks for responding!  This isn't a big deal. I'll close it.

[2020-10-29 01:35] #119 closed

[2020-10-30 13:06] jakoblind commented on #118
Awesome! I wanted to ask your opinion on something. I would assume that most people would want to add `@snowpack/plugin-webpack` to bundle their projects, so I'm tempted to add that as a default for all Snowpack projects. The option is to instead add it as a feature that the user must to select.

Also, I think most users want `@snowpack/plugin-optimize` to minify their build. I think I want to add

[2020-10-30 15:46] FredKSchott commented on #118
Yes, I think @snowpack/plugin-webpack is a good default, and that also minifies your code so that you don't need to use it with `@snowpack/plugin-optimize` (just one or the other).

Happy to help write or edit the question mark helper text!

[2020-11-02 11:21] jakoblind commented on #118
Good! Then I'll make that a default.

I just realized I don't have any general build tool help button, will need to put on the UX hat and think where to put it. Thanks for offering to help with that text, will come back to you when I have a first draft ready :)

[2020-11-30 17:59] terabaud commented on #108
instead of templateContent you can alternatively provide:

[code]

and add the html in a separate file.

The `filename` option can be omitted as `index.html` is the default anyway.

[2020-12-10 19:49] KokoDoko opened #123 ".babelrc file needs quotes"
The generated .babelrc file is not accepted by visual studio code until I add quotes around the keys manually:

[code]

[2020-12-14 03:38] gaearon opened #124 "Remove react-hot-loader"
The suggested configuration for React uses `react-hot-loader`. Using this project is strongly discouraged because it is very fragile and introduces problems. It should either be removed or replaced with `react-refresh-webpack-plugin` ([link](https://github.com/pmmmwh/react-refresh-webpack-plugin)).

[2020-12-18 12:05] jakoblind commented on #124
Thanks @gaearon ! I'll look into this

[2021-01-18 08:39] webdistortion opened #125 "Feature Request: IE 11 Babel support"
One of those things (for a React project) that is a pain to configure - I'm guessing across other languages this is the same.

Would be lovely to get a IE 11 ready project out of the box.

[2021-02-03 03:43] Wanaco commented on #118
Hi @jakoblind,

When selecting snowpack + react + tailwindcss I have notice that the "@snowpack/plugin-build-script" is referenced in the _snowpack.config.json_ file but it is missing from the devDependencies.  It took me some time to figure out the error it was spitting.

I'm still a beginner in the whole web stack framework world.  Your tool is intuitive and has helped me demistify the project c

[2021-02-03 08:38] jakoblind commented on #118
Hi @Wanaco

Thanks for letting me know about this bug, I just fixed it! Happy you like the project :)

[2021-04-08 14:24] RealCyGuy opened #130 "Switch @snowpack/plugin-build-script with @snowpack/plugin-postcss"

[2021-06-14 17:03] adardesign commented on #108
Please fix

[2021-06-26 07:14] justingolden21 opened #139 "Parcel and TailwindCSS Dependencies"
![image](https://user-images.githubusercontent.com/30274440/123505275-dd38eb00-d5f9-11eb-825f-2506bb573675.png)

These were the dependencies that worked for me:

[code]

It broke my project. I'm going to try removing and reinstalling node modules again and going from scratch. Just trying to get a hello world PWA with tailwind and parcel.

[2021-06-26 08:18] justingolden21 commented on #139
Also, I don't believe clean is necessary for anything here

![image](https://user-images.githubusercontent.com/30274440/123507085-50932a80-d603-11eb-88a6-92f61077b1e8.png)

[2021-08-02 07:16] jakoblind commented on #130
Fixed! thanks for reporting!

[2021-08-02 07:16] #130 closed

[2021-08-03 06:31] jakoblind commented on #125
I know the pain, but I read that IE11 is reaching end of life soon (https://twitter.com/swyx/status/1260627626739130369). Not sure if to put the effort in IE11 anymore :D

[2021-08-03 09:26] jakoblind commented on #108
fixed by @adardesign !

[2021-08-03 09:26] #108 closed

[2021-08-03 09:39] #111 closed

[2021-08-07 12:10] basith374 commented on #139
did you figure this out?

[2021-08-27 17:50] chtnnh opened #145 "Enhancement: Use latest version of parcel"
The current version of the app uses `parcel-bundler` which is version 1.x.x of Parcel.

We can use `parcel` which is version 2.x.x of Parcel.

[2021-09-13 16:35] MarcoEscaleira opened #147 "Consider adding Testing library with Jest"
Raising a possible issue where we could add Testing library integration out of the box.

[2021-09-20 07:39] jakoblind commented on #147
We already have support for this.
![image](https://user-images.githubusercontent.com/399339/133969773-6e65391d-345c-4d88-b599-b0c3b531c210.png)
Any particular test library you are missing?

[2021-09-20 07:41] jakoblind commented on #145
Agree. This must be upgraded.

[2021-09-22 01:12] MarcoEscaleira commented on #147
Yes in terms of frameworks we have those, my suggestion here is towards having the options to include Testing Library as well as other utilities that help testing code within these frameworks

[2021-10-05 06:10] nitras opened #153 "Feature Request: Svelte-kit"
Great tool!

I wish to kindly request the ability to use svelte-kit

Thanks for your consideration

[2021-10-05 06:11] nitras opened #154 "Feature Request: UIKIT"
Great tool!

I wish to kindly request the UI-library: www.getuikit.com

Thanks for your consideration

[2021-10-21 07:11] Moussack opened #155 "[REQ] Main-Library"
Please add No library with webpack-dev-server

[2021-10-23 04:38] Moussack opened #156 "regeneratorRuntime is not defined with Babel 7 (cant use async function)"
need to install these two dependencies to fix :
- @babel/runtime --save
- @babel/plugin-transform-runtime --save-dev

in babel.rc
[code]

[2021-12-14 13:13] valoricDe opened #157 "Hot Reloading failed on Mac because it watched node_modules => overload"
My fsevents deamon went hamoc. Had to add
[code]
to my webpack.config.js

[2021-12-22 08:00] heartbeatSeries opened #158 "There is a comma added to the plugins array in webpack.config.js"
I don't know why
![1640159733(1)](https://user-images.githubusercontent.com/64472455/147056527-98963514-60b7-466b-a103-d7b1173a048c.jpg)

[2022-01-04 16:06] hta218 commented on #158
Same here, took me a few mins to figure out 😄

[2022-01-10 12:37] Redfur opened #159 "Future request: add Next.js support"
pls add next js support

[2022-01-11 12:59] jakoblind commented on #158
Thanks for reporting guys and sorry for the wasted time figuring out the issue. I have pushed a fix!

[2022-01-11 12:59] #158 closed

[2022-02-04 07:46] marypieroszkiewicz opened #166 "Please add 11ty configuration"
Please add 11ty configuration. Thank you

[2022-07-22 19:07] jpeyret opened #171 "(Vue 2) : vue and vue-template-compiler versions need to be in sync"
## Mismatch between vue and vue-template compiler versions

--------------

#### vue2 : `vue` and `vue-template-compiler` versions need an exact match

#### vue3 : `vue-template-compiler` is replaced by `@vue/compiler-sfc`

--------------

Using https://createapp.dev/webpack/vue I get:

[code]

#### On Vue 2, vue and vue-template-compiler versions need to match.

(I need to find something more def

[2022-11-08 08:20] pgsandstrom opened #173 "Bug: Cant unselect babel while using react"
Just go here and try to unselect babel as a transpiler:

https://createapp.dev/webpack/react--babel--react-hot-loader--typescript

[2022-11-08 08:23] pgsandstrom opened #174 "BUG: Firefox layout bug"
Just look at this absolute nightmare:

![Uploading Screenshot 2022-11-08 at 09.22.46.png…]()

[2022-11-16 09:50] Pascal-So opened #175 "Switch to createRoot for react 18"
Thanks for creating this project, it's a real timesaver to not have to deal with all that webpack stuff myself!

When creating a project on createapp.dev with [webpack and react selected](https://createapp.dev/webpack/react--babel), I currently get this generated code in `src/index.js`:

[code]

When running with react 18.2.0 however (the selected version by the generated package.json), this code